body{
    margin: 0;
    padding: 0;
    background-image: url(../images/background.png);
}

.header{
    height: 153px;
    background-color: #bd7482;
    
}
.Navigation{
   display: flex;
   justify-content: center;

}
.card1{

}
.card2{
font-family: 'Poppins', sans-serif;
font-size: 20px;
font-weight: 400;
line-height: 26px;
color: #F3E8E8;

}

.card2:hover{
color: rgb(79, 47, 110);
}
.card3{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #F3E8E8;

}
.card3:hover{
    color: rgb(79, 47, 110);
    }

.card4{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #F3E8E8;

}
.card4:hover{
    color: rgb(79, 47, 110);
    }

.card5{
    font-family: 'Poppins', sans-serif;
    font-size: 20px;
    font-weight: 400;
    line-height: 26px;
    color: #F3E8E8;

}
.card5:hover{
    color: rgb(79, 47, 110);
    }

.contact_us{
    display: flex;
justify-content: center;

}

.title{
    font-family: 'Poppins', sans-serif;
    font-weight: 400;
    font-size: 64px;
    line-height: 95px;
    color: #FFFFFF;
    padding-left: 60px;
    margin-bottom: 20px;
}

.text{
    font-family:'Poppins', sans-serif;
    font-weight: 400;
    font-size: 17px;
    line-height: 26px;
    color: #FFFFFF;
    margin-left: -30px;
}

.three_boxs{
    display: flex;
    justify-content: space-around
}

.img{
    width: 300px;
    /*margin-left: 35px;*/
    margin-right: 20px;
    animation: imgZoom 3.5s ease infinite;

}
@keyframes imgZoom {
    0% {transform: scale(1) rotate(0deg);}
	50% {transform: scale(1.1) rotate(15deg);}
	100% {transform: scale(1) rotate(0deg);}
} 

.info{
font-family: 'Oswald';
font-style: normal;
font-weight: 400;
font-size: 17px;
line-height: 25px;
letter-spacing: 0.17em;
color: #F5F5F5;
background: rgba(31, 30, 30, 0.6);
padding-top: 40px;
padding-bottom: 40px;
padding-right: 60px;
padding-left: 20px;
max-width: 250px;
min-height: 100px;
width: 100%;
height: 50%;
line-height: 50px;
text-align: center;
}

.box2{
    background: rgba(31, 30, 30, 0.6);
    max-width: 250px;
    min-height: 200px;
    margin-top: 120px;
    font-family: 'Oswald';
    font-style: normal;
    font-weight: 400;
    font-size: 17px;
    line-height: 25px;
    letter-spacing: 0.17em;
    color: #F5F5F5;
    padding-left: 40px;
    padding-right: 40px;
    padding-bottom: 80px;
    padding-top: 40px;
    width: 100%;
    height: 100%;
    
}

.box3{
    display: flex;
    align-items: flex-end;
}
.form2{
font-family: 'Oswald';
font-style: normal;
font-weight: 600;
font-size: 17px;
display: flex;
justify-content: center;
padding-top: 10px;
letter-spacing: 1mm;
color: #F5F5F5;
margin-top: 20px;
}

.email{
    color: #F5F5F5;
    border-radius: 20px;
    background-color:  rgb(90, 52, 109);
    border: none;
   
 }
 .massage{
     background-color: rgb(90, 52, 109);;
     color: #F3E8E8;
     border-radius: 14px;
     border: none;
     margin-top: 5px;
 }
 .send{
    margin-top: 10px;
     background-color:  rgb(170, 122, 157) ;
      
     width: 100px;
     border-radius: 14px;
     font-family: 'Oswald';
     font-style: normal;
     letter-spacing: 1mm;
     color: #F5F5F5;
 }

 .send:hover{
     background-color: rgb(90, 52, 109); ;
     transition: all 1s ease-in-out;
    transition-delay: 0,9s;
    }
.box4{
    background-color: #bd7482;
}
    .mashup{
        display: flex;
        display: inline-flex;
        margin-left: 50px;
        margin-right: 10px;
        margin-top: 20px;
 }
.mash{
    margin-left: 5px;
    margin-top: 5px;
}

.box5{
    display: flex;
    justify-content: flex-end;
    margin-right: 70px;
    
}
.F{
    margin-right: 40px;
}
.li1{
    list-style: none;
    margin-right: 50px;
}

.li2{
    list-style: none;
    margin-right: 60px;
    float: left;  
    
}
.li2_2{
    margin-top: 20px;
}
